In [1]:
import pandas as pd
df = pd.read_csv("grocery.csv")

#Remove the $ from the entries in Price.
df['Price'] = df['Price'].str.replace('$', '')
#Change dtype of Price to float64.
df['Price'] = df['Price'].astype('float64')
#check dataframe
print(df.head())

                tem               Category Refrigeration Required  \
0    Macadamia Nuts          Miscellaneous                     No
1  Brussels Sprouts  Fruits and Vegetables                    Yes
2            Coffee              Beverages                     No
3       Maple Syrup      Snacks and Sweets                    Yes
4          Flaxseed          Miscellaneous                     No

   Weight (lbs)  Price Country of Origin  Manufacturer
0           1.0    7.0     United States       Nut Co.
1           1.0    2.0          Colombia    Veggie Co.
2           1.0    5.0            Brazil  Beverage Co.
3           1.0    4.0            Canada    Snacks Co.
4           1.0    4.0            Canada      Seed Co.

In [2]:
#Check the descriptive statistics. 
df.describe()

       Weight (lbs)       Price
count    184.000000  184.000000
mean       1.030707    2.961957
std        1.119180    2.369909
min        0.100000    0.300000
25%        1.000000    1.500000
50%        1.000000    2.500000
75%        1.000000    4.000000
max       10.000000   20.000000