In [14]:
import pandas as pd
from sklearn.linear_model import LinearRegression

titanic_df = pd.read_csv('titanic_train.csv')
model = LinearRegression()
model.fit(titanic_df[['Pclass']], titanic_df['Fare'])
print("Coefficient (slope):", model.coef_[0])
print("Intercept:", model.intercept_)
predicted_fare = model.predict([[2]]) 
print("Predicted Fare for Pclass 2:", predicted_fare[0])

Coefficient (slope): -32.6605183739482
Intercept: 107.60565162201061
Predicted Fare for Pclass 2: 42.28461487411421

/opt/anaconda3/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [25]:
import pandas as pd
from sklearn.linear_model import LinearRegression

titanic_df = pd.read_csv('titanic_train.csv')
model = LinearRegression()
filteredAge = titanic_df['Age'].fillna(titanic_df['Age'].mean())
model.fit(titanic_df[['SibSp']], filteredAge)
print("Coefficient (slope):", model.coef_[0])
print("Intercept:", model.intercept_)

Coefficient (slope): -2.7427852447986214
Intercept: 31.133615878345193

In [33]:
import pandas as pd
from sklearn.linear_model import LinearRegression

titanic_df = pd.read_csv('titanic_train.csv')
model = LinearRegression()

filteredAge = titanic_df[['Age']].fillna(titanic_df['Age'].mean())
model.fit(filteredAge, titanic_df['Fare'])

print("Coefficient (slope):", model.coef_[0])
print("Intercept:", model.intercept_)

Coefficient (slope): 0.3499636817440234
Intercept: 21.810595412261033

In [16]:
titanic_df = pd.read_csv('titanic_train.csv')
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [35]:
#Add time data for a time series plot of prices over time
#﻿assume the booking date based on a range of weeks before departure 
﻿titanic_df['Booking_Weeks_Prior'] = np.random.randint(1, 21, size=len(titanic_df))

SyntaxError: invalid non-printable character U+FEFF (2631465001.py, line 3)